* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.navbar{
    /*background-color: gray;*/
    display: flex;
    width: 100%;
    height: 100px;
}

.header {
    backdrop-filter: blur(100%);
    background-image: url("bukhara.jpeg");
    /*filter: grayscale();*/
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 700px;
    background-size: cover;
}

.logo {
    text-align: center;
    margin-top: -50px;
    margin-left: 200px;
    width: 220px;
    height: 150px;
    border-radius: 50px;
    background: rgba(224, 185, 115, 1);
}


.logo-h1 {
    font-size: 30px;
}

.navbar-end {
    color: white;
    margin-left: 250px;
    display: inline;
    align-content: space-around;
    justify-content: space-around;
    text-decoration: none;
    width: 700px;
    height: 80px;
}

.navbar-item {
    justify-content: space-around;
    margin: 30px 10px;
    height: 70px;
    font-size: 20px;
}

.welcome {

    align-items: center;
    margin: -200px 200px 0;
}

.body{
    width: auto;
    height: 700px;
    background: honeydew;
}
.columns-body{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    width: 1300px;
}
.column-body{
    padding-left: 50px;
    /*color: wheat;*/
    margin: 20px;
    width: 50%;
    font-size: 25px;
}
.columns-footer{
    width: 100%;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
}
.column-footer{
    display: flex;
    width: 25%;
    height: auto;
}
.niz{
    width: 100%;
    height: 250px;

}